 body{
 	margin: 0;
 }

 .galhead{
	background-color: #47372F;
	margin-top: 0px;
}

.galheader1{
	color: black;
	float: left;

}
.galnav{
	color: orange;
	float: right;
	margin-top: 20px;
	word-spacing: 25px;
	margin-right: 10px;
}
.button {
  background-color: orange;  
  border-radius:20px ;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: #47372f; 
  color:orange ; 
  border: 1px solid;
}

.button1:hover {
  background-color: orange;
  color: white;
}

.button2 {
  background-color: #47372f ; 
  color: orange; 
  border: 1px solid;
}

.button2:hover {
  background-color: orange;
  color: white;
}

.button3 {
  background-color:  #47372f; 
  color: orange; 
  border: 1px solid;
}

.button3:hover {
  background-color: orange;
  color: white;
}

.button4 {
  background-color:  #47372f;
  color: orange;
  border: 1px solid ;
}

.button4:hover {
  background-color: orange;
  color: white;
}

.button5 {
	background-color:  #47372f; 
  color: orange; 
  border: 1px solid;
  
}

.button5:hover {
  background-color: orange;
  color: white;
}

.galleryname{
	color: orange;
	font-size: 25px;
}

.gal img{
	transition-duration: 0.5s;
  	margin-left: 20px;
 	width: 200px;
 	margin-top: 90px;

 }
.imge:hover{
 	border: 1px solid orange;
 	transition: 0.5;
 	color: orange;
 	transform: scale(1.5);
}	
#galimg{
	padding: 100px;

}
.imageschool{
	position: absolute;
	margin-left: 130px;
	margin-top: 150px;
	text-align: center;
	color: orange;
	font-size: 20px;
	font-weight: bold;
	}

.imagenight{
	position: absolute;
	margin-left: 130px;
	margin-top: 20px;
	text-align: center;
	color: orange;
	font-size: 20px;
	font-weight: bold;
	}
.imgnight img{
	transition-duration: 0.5s;
  	margin-left: 20px;
 	width: 200px;

 } 	
#night{
	padding: 50px;
	margin-left: 50px;
}

.dump{
	margin-top: 0px;
}

.imgself{
	position: absolute;
	margin-left: 130px;
	margin-top: 40px;
	text-align: center;
	color: orange;
	font-size: 20px;
	font-weight: bold;
	}

.imgself img{
	transition-duration: 0.5s;
  	margin-left: 20px;
 	width: 200px;

 } 	
#self{
	padding:50px;
	margin-left: 50px;
}

.selfie{
	margin-top: 0px;
}

.imgtop{
	position: absolute;
	margin-left: 130px;
	margin-top: 60px;
	text-align: center;
	color: orange;
	font-size: 20px;
	font-weight: bold;
	}
.imgtopless img{
	transition-duration: 0.5s;
  	margin-left: 20px;
 	width: 200px;

 } 	
#top{
	padding:100px;
	margin-left: 0px;

}

.topless{
	margin-top: 400px;
}